@page "/RegisterCustomer"
@using Tier1.Data
@using Tier1.Model
<h3>RegisterCustomer</h3>

<div class="form-group">
            <label>ID:</label>
            <input type="text" placeholder="id" @bind-value="id"/>
        </div>
    <div class="form-group">
                <label>Name:</label>
                <input type="text" placeholder="name" @bind-value="name"/>
            </div>
<div class="form-group">
            <label>Mail:</label>
            <input type="text" placeholder="mail" @bind-value="mail"/>
        </div>
<div class="form-group">
            <label>Password:</label>
            <input type="text" placeholder="user name" @bind-value="password"/>
        </div>

<button @onclick="RegisterNewCustomer">
    Register
</button>

<div><label> @message</label></div>
@code {
    public int id;
    public string name;
    public string mail;
    public string password;
    public string message;
    public ICustomerService client = new CustomerService();

    public void RegisterNewCustomer()
    {
       client.Connect();
        client.RegisterCustomer(id,name,mail,password);
        message = "Register Succeed!";
    }
}